<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SqlDatabase" connectionString="server=E077TWHORTEN-7L;user id=sherpa;password=340$Uuxwp7Mcxo7Khy;database=SherpaTest;connection reset=false" />
    <add name=".XLS" connectionString="provider=microsoft.jet.oledb.4.0;data source=&quot;[[FILEPATH]]&quot;;extended properties=&quot;Excel 8.0;HDR=YES;&quot;"></add>
    <add name=".XLSX" connectionString="provider=Microsoft.ACE.OLEDB.12.0;data source=&quot;[[FILEPATH]]&quot;;extended properties=&quot;Excel 12.0;HDR=YES;&quot;"></add>
    <add name=".XLSM" connectionString="provider=Microsoft.ACE.OLEDB.12.0;data source=&quot;[[FILEPATH]]&quot;;extended properties=&quot;Excel 12.0;HDR=YES;&quot;"></add>
  </connectionStrings>
  <appSettings>
    <add key="excelDataQuery" value="select * from [sheet1$]" />
    <add key="sqlTable" value="dbo.EMITest" />
    <add key="dialogTitle" value="Open Excel File" />
    <add key="dialogFilter" value="Excel Files|*.xls;*.xlsx;*.xlsm|All Files|*.*" />
    <add key="dialogInitialDirectory" value="C:\" />
  </appSettings>
</configuration>

